# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django stuff
db.sqlite3
*.log
media/
staticfiles/

# Django migrations (optional - usually NOT ignored in real projects)
# */migrations/*.py
# */migrations/*.pyc

# Environment variables
.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.coverage
htmlcov/

# Django secret key backup files
*.bak